@page "/payments/"
@inject HttpClient _client
@inject IJSRuntime js
@attribute [Authorize]
@using System.ComponentModel.DataAnnotations;
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.JSInterop;
@using System.Net.Http.Json;
@using Transport_Booking.Client.Static;
@using Transport_Booking.Shared.Domain;


<div class="navbar">
    <a href="authentication/profile">Profile</a>
    <a href="/">Home</a>
    <a href="authentication/register">Register</a>
    <a href="authentication/login">Login</a>
    <a href="/about-us">About Us</a>
    <a href="/pg">Price Guide</a>
    <a href="/services">Services</a>
    <a href="/feedbacks">Contact Us</a>
    <a href="/vehicles">Vehicles</a>]
    <a href="/customers">Customers</a>
    <a href="/staffs">Staffs</a>
    <a href="/transportbookings">Bookings</a>
    <a href="/payments">Payment</a>
</div>



<h3 class="card-title">Add Payment</h3>
@if (Payments == null)
{
    <div class="alert alert-info">Loading Payments...</div>
}
else
{
    <table class="table-responsive">
        <thead>
            <tr>
                <th>Payment Id </th>
                <th>Price </th>
                <th>Date </th>
                <th>Payment Method</th>
                <th>Transport Booking Id </th>
                <th>Actions </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Payment in Payments)
            {
                <tr>
                    <td>@Payment.Id</td>
                    <td>@Payment.Amount</td>
                    <td>@Payment.PaymentDate</td>
                    <td>@Payment.PaymentMethod</td>
                    <td>@Payment.TransportBookings.Id</td>
                    <td>
                        <a href="/Payment/view/@Payment.Id" class="btn btn-primary">
                            <span class="oi oi-book"></span>
                        </a>
                        <a href="/Payment/edit/@Payment.Id" class="btn btn-warning">
                            <span class="oi oi-pencil"></span>
                        </a>
                        <button class="btn btn-danger" @onclick="@(()=>Delete(Payment.Id))">
                            <span class="oi oi-delete"></span>
                        </button>
                    </td>


                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Payment>? Payments;
    protected async override Task OnInitializedAsync()
    {
        Payments = await _client.GetFromJsonAsync<List<Payment>>($"{Endpoints.PaymentsEndpoint}");
    }
    async Task Delete(int PaymentId)
    {
        if (Payments != null)
        {
            var Payment = Payments.First(q => q.Id == PaymentId);
            var confirm = await js.InvokeAsync<bool>("confirm", $"Do you want to delete {Payment.Id}?");
            if (confirm)
            {
                await _client.DeleteAsync($"{Endpoints.PaymentsEndpoint}/{PaymentId}");
                await OnInitializedAsync();
            }

        }
    }
}